.buttonBig {
    background: $purple;
    padding: $large-size;
    width: 100%;
    margin-bottom: $xxlarge-size;
    border: none;
    border-bottom: $small-size solid darken($purple, 10);
    color: $white;
    font-size: $large-size;
    font-weight: 600;
}

.buttonBig:disabled {
    opacity: 0.5;
}

.buttonSmall {
    background: $purple;
    padding: $small-size;
    border: none;
    border-bottom: 0.3rem solid darken($purple, 10);
    color: $white;
    font-weight: 500;
}

.buttonSmall--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}