.option {
    display: flex;
    justify-content: space-between;
    padding: $large-size $medium-size;
    border-bottom: 1px solid lighten($light-blue, 10);
}

.optionResult {
    color: $white;
    font-weight: 500;
    word-break: break-all;
}